<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/signin.css" rel="stylesheet" />
<title>{{pageTitle}}</title>
</head>

<body>
  <div class="container">
    <h1>{{h1Title}}</h1>
    <p>Body test template hello</p>
  </div>
</body>

</html>
